<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_my_doctor_app">

    <!-- ✅ Internet permission added -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="myAIdoctor"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:hardwareAccelerated="true">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

</manifest>
